
{% extends "base.html" %}
{% block content %}
<style>
    .sel-tag{display:none}
</style>
<section id="" class="services ">
    <div class="login-container" >
        <div style="z-index:1001" class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div style="z-index:1000" class="form-container">
                <div class="space-filler"></div>
            <div><small style="border:none" class="sub-topic-details" >Login Form</small><br>
            <!-- <small>A fast and convient plartform in Eswatini to sell and manage & track your car sales records</small> -->
            </div>
            <div class="line"></div><br>
        
            <form style=""  _lpchecked="1" action="" method="post">
                <!-- <div><small style="border:none" class="form-groups-subs">Login Details</small></div><br> -->
                
                <!-------Post By--------->

                <div style="background-color:f8f95a;" class="job-ad-group marginise-bottom">
                    {{ login.hidden_tag() }}
                    {{ login.email.label(class="labels") }}
                    {{ login.email(class="form-control adj-width-60", placeholder="email") }}
                    {% if login.email.errors %}
                    {% for error in login.email.errors %}
                      <span class="span-error" >*{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                    {{ login.password.label(class="labels") }}
                    {{ login.password(class="form-control adj-width-60", placeholder="password") }}
                    {% if login.password.errors %}
                    {% for error in login.password.errors %}
                      <span class="span-error" >*{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>


                <div>
                    {{ login.submit(class="btns") }}
                    
                </div><br>
                <a class="" href="/forgot_password" >Forgot Password?</a>
                <br><br>
            </form>
 
        </div>
        <img class="logo-on-forms" src="static/icons/tfh_logo.png" />
    </div> 
</section>

{% endblock %}