
{% extends "base.html" %}
{% block content %}
<style>
    .sel-tag{display:none}
</style>

<section id="" class="services ">
    <h1 style="margin-left:30px;width: auto;">Add Item NO. {{no_of_menu_itms+1}}</h1>
    <div class="" >
            <div style="z-index:551">
                <div class="form-container">
                    <div class="space-filler"></div>
                <div class="cap-icons">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="498px" height="390px" viewBox="0 0 498 390" style="enable-background:new 0 0 498 390;" xml:space="preserve">
                        <path style="fill:rgb(177, 113, 18);" d="M382.566,87.691c-6.964-5.5-11.417-4.941-17.48,2.147c-6.103,7.135-10.639,15.302-14.936,23.567
                            c-5.038,9.689-12.288,16.469-23.134,18.901c-2.091,0.469-4.265,0.61-6.411,0.771c-1.861,0.14-3.411-0.537-3.555-2.616
                            c-0.156-2.242,1.215-3.302,3.368-3.453c0.664-0.046,1.336-0.056,1.989-0.167c9.218-1.563,16.299-6,20.951-14.433
                            c5.212-9.449,10.03-19.188,17.462-27.248c6.071-6.583,15.125-11.614,24.41-3.445c0.43,0.379,0.983,1.459,1.518,0.762
                            c2.951-3.839,5.946-2.936,9.439-0.728c0.905,0.572,2.005-1.444,2.848-2.412c5.576-6.399,11.128-12.82,16.638-19.276
                            c4.275-5.009,5.164-5.124,9.995-0.937c8.644,7.492,8.664,7.509,1.122,16.318c-4.655,5.436-9.289,10.895-14.124,16.168
                            c-1.898,2.069-2.746,3.419,0.115,5.388c2.883,1.985,1.568,4.14-0.278,6.264c-12.008,13.819-23.948,27.697-35.931,41.538
                            c-33.77,39.005-67.754,77.828-101.194,117.114c-9.194,10.801-21.119,17.614-32.194,25.736c-7.781,5.707-15.931,10.909-23.805,16.493
                            c-2.595,1.841-4.841,2.796-7.53,0.307c-2.589-2.396-1.06-4.508,0.273-6.638c9.886-15.802,19.299-31.93,29.872-47.258
                            c6.483-9.399,14.713-17.598,22.223-26.28c33.756-39.018,67.533-78.018,101.309-117.018
                            C371.186,100.723,376.881,94.217,382.566,87.691z"/>
                        <path style="fill:rgb(177, 113, 18);" d="M59.101,202.487c15.518-2.432,30.913-2.007,45.806,3.237c15.513,5.463,24.959,16.389,28.03,32.796
                            c2.806,14.991,2.379,30.139,2.724,45.25c0.255,11.155,0.57,22.275,2.936,33.243c3.216,14.908,12.282,19.938,26.532,14.633
                            c8.635-3.215,16.497-7.853,24.09-12.991c1.93-1.306,3.792-2.711,5.717-4.024c2.353-1.605,4.691-1.966,6.498,0.717
                            c1.646,2.444,0.613,4.479-1.537,5.959C189.321,328.582,178.479,335.373,166,339c-2.538,0.737-4.976,1.748-7.735,1.784
                            c-15.587,0.199-23.495-6.913-26.586-25.035c-2.3-13.484-1.798-27.166-1.516-40.791c0.22-10.644,0.156-21.292-0.867-31.879
                            c-2-20.684-15.085-33.619-37.773-37.725c-15.407-2.788-30.803-1.678-46.187,0.305c-0.06-2.114,1.732-1.588,2.773-1.736
                            C51.766,203.401,55.34,202.195,59.101,202.487z"/>
                        <!-- <path style="fill:#FEFEFE;" d="M223.697,291.454c4.822-7.764,9.81-15.154,14.149-22.908c10.034-17.933,24.568-32.256,37.771-47.623
                            c33.52-39.014,67.281-77.821,100.947-116.71c4.358-5.034,8.772-10.022,13.053-15.122c1.321-1.574,2.311-1.948,3.998-0.468
                            c2.603,2.283,4.735,1.228,6.779-1.159c6.065-7.081,12.281-14.031,18.359-21.101c1.438-1.672,2.395-2.884,4.712-0.862
                            c2.296,2.003,0.773,3.16-0.361,4.471c-5.88,6.801-11.779,13.586-17.747,20.31c-2.47,2.783-4.141,5.444-0.257,8.338
                            c2.078,1.548,0.812,2.669-0.343,3.999c-14.845,17.093-29.645,34.224-44.479,51.326c-31.852,36.72-63.725,73.422-95.553,110.164
                            c-1.329,1.534-2.779,2.837-4.432,3.977c-10.419,7.179-20.808,14.401-31.255,21.539C227.645,290.575,226.453,292.31,223.697,291.454z
                            "/> -->
                    </svg>
                    <small style="border:none;background-color:;text-align:left;" class="sub-topic-details" >Create Menu</small><br></div>
                <div class="sel-tag2">
                    <small>We are moving towards a dynamic and interactive Menu</small>
                    <small></small>
                </div><br>
                <div class="line"></div><br>
                
                <form class="form-submit" style="background-color: f8db5a;width:;"  _lpchecked="1" action="" method="post" enctype="multipart/form-data">
                    <div><small style="border:none" class="form-groups-subs">Menu Item</small></div><br>
                    
                    <!-------Post By--------->
                    <div class="job-ad-group marginise-bottom">
                        {{ menu_item_form.hidden_tag() }}
                    </div>

                    <!-- Item Name -->
                    <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                        {{ menu_item_form.item_name.label(class="labels") }}
                        {{ menu_item_form.item_name(class="form-control adj-width-60", placeholder="food") }}
                        {% if menu_item_form.item_name.errors %}
                            {% for error in menu_item_form.item_name.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!------- Main Image --------->
                    <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                        {{ menu_item_form.main_img.label(class="labels") }}
                        {{ menu_item_form.main_img(class="form-control") }}<br>
                        {% if menu_item_form.main_img.errors %}
                            {% for error in menu_item_form.main_img.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- <div><h4 style="border:none" class="">You can also Specify;</h4></div> -->

                    <!-- Item Caption -->
                    <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                        {{ menu_item_form.item_caption.label(class="labels") }}
                        {{ menu_item_form.item_caption(class="form-control adj-width-60", placeholder="caption") }}
                        {% if menu_item_form.item_caption.errors %}
                            {% for error in menu_item_form.item_caption.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!------- Item Description --------->
                    <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                        {{ menu_item_form.item_description.label(class="labels") }}
                        {{ menu_item_form.item_description(class="form-control adj-width-60", placeholder="Describe the food item") }}
                        {% if menu_item_form.item_description.errors %}
                            {% for error in menu_item_form.item_description.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!------- Ingredients --------->
                    <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                        {{ menu_item_form.item_ingredients.label(class="labels") }}
                        {{ menu_item_form.item_ingredients(class="form-control adj-width-60", placeholder="Ingredients") }}
                        {% if menu_item_form.item_ingredients.errors %}
                            {% for error in menu_item_form.item_ingredients.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!------- Food Group --------->
                    <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                        {{ menu_item_form.item_food_group.label(class="labels") }}
                        {{ menu_item_form.item_food_group(class="form-control adj-width-60", placeholder="e.g. Pizza") }}
                        {% if menu_item_form.item_food_group.errors %}
                            {% for error in menu_item_form.item_food_group.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!------- Item Price --------->
                    <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                        {{ menu_item_form.item_price.label(class="labels") }}
                        {{ menu_item_form.item_price(class="form-control adj-width-60", placeholder="e.g. E120.00") }}
                        {% if menu_item_form.item_price.errors %}
                            {% for error in menu_item_form.item_price.errors %}
                                <span class="span-error" >*{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-------Submit--------->
                    <div>
                        {{ menu_item_form.submit(class="btns") }}
                    </div>

                </form><br><br>
            </div>
        </div>
    </div>
</section>

{% endblock %}