
{% extends "base.html" %}
{% block content %}
<style>
    .sel-tag{display:none}
</style>

<section id="" class="services ">
    <div class="post-container" >
            <div class="form-container">
                <div class="space-filler"></div>
            <div><small style="border:none" class="sub-topic-details" >Sign Up Form</small><br>
                <small>"Discover New Exciting Ways Communicate with us!"</small>
                <small>"Access our Menu Online & Make Orders with Ease and Discover Weekly Specials wherever you are!</small>
            </div>
            <div class="line"></div><br>

            <form class="form-submit" style="background-color: f8db5a;width:;"  _lpchecked="1" action="" method="post">
                <div><small style="border:none" class="form-groups-subs">Personal Details</small></div><br>
                
                <!-------Post By--------->
                <div class="job-ad-group marginise-bottom">
                    {{ register.hidden_tag() }}
                    {{ register.name.label(class="labels")}}<br>
                    {{ register.name(class="form-control adj-width-60",placeholder="name")}}
                    {% for error in register.name.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                </div>

                <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                    {{ register.email.label(class="labels")}}
                    {{ register.email(class="form-control adj-width-60", placeholder="email")}}
                    {% if register.email.errors %}
                    {% for error in register.email.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                    {{ register.password.label(class="labels")}}
                    {{ register.password(class="form-control adj-width-60", placeholder="password")}}
                    {% if register.password.errors %}
                    {% for error in register.password.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                    {{ register.confirm.label(class="labels")}}
                    {{ register.confirm(class="form-control adj-width-60", placeholder="confirm password")}}
                    {% if register.confirm.errors %}
                    {% for error in register.confirm.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-------contacts--------->
                <div class="job-ad-group marginise-bottom">
                    {{ register.contacts.label(class="labels")}}<br>
                    {{ register.contacts(class="form-control adj-width-60",placeholder="e.g. (+268) 7645 0000")}}
                    {% if register.contacts.errors %}
                    {% for error in register.contacts.errors %}
                        <span class="span-error" >*{{error}}</span>
                    {% endfor %}
                    {% endif %}
                </div><br>


                <!-------Sign-up For?--------->
                <div class="job-ad-group marginise-bottom">
                </div><br><br>


                <div>
                    {{ register.submit(class="btns") }}
                    <!--<input class="btns" type="submit" value="Create Account" />-->
                </div>

            </form><br><br>
            <!-- <div><a href="/entertainer_signup">Sign-up for Company?</a> </div> -->
        </div>
        
        <img class="logo-on-forms" src="static/icons/tfh_logo.png" />
    </div>
</section><br><br>

{% endblock %}